Repository wiolsen/office-ui-fabric-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dzearing, @kenotron, @ecraig12345, @natalieethell, @jordandrako, @Jahnp, @Vitalius1, @Raghurk, @JasonGore, @KatherineThayerMicrosoft, @jahnp, @bigbadcapers, @KevinTCoughlin, @aditima, @phkuo, @joschect, @OfficeDev/uifabric-calendar, @lorejoh, @evlevy, @jdhuntington, @khmakoto, @cliffkoh, @srideshpande, @leddie24, @micahgodbolt, @kkjeer, @yiminwu, @markionium, @ThomasMichon, @atneik, @caradong, @mtennoe, @aneeshack4

Updates to tileslist, list and marquee selection
  packages/experiments/src/components/TilesList/TilesList.tsx
  packages/experiments/src/components/TilesList/TilesList.types.ts
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
Owners: @KevinTCoughlin, @dzearing

PR iteration 1 - fixes for PR feedback comments
  packages/experiments/src/components/TilesList/TilesList.tsx
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
Owners: @KevinTCoughlin, @dzearing

PR iteration 2 - more fixes to address PR comments
  packages/experiments/src/components/TilesList/TilesList.tsx
Owners: none

removing changes to calls to _onAsyncIdle, remove disableLookAhead Prop
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
Owners: @KevinTCoughlin

fix marquee selection to pass snap test
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
Owners: @dzearing

updating parameter order in getPageHeight so that additional parameter is not a breaking change from previous getPageHeight parameters.
  packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md
  packages/office-ui-fabric-react/src/components/List/List.tsx
  packages/office-ui-fabric-react/src/components/List/List.types.ts
Owners: @KevinTCoughlin

PR fixes, removed getItemHeight callback prop from TilesList
  packages/experiments/src/components/TilesList/TilesList.tsx
  packages/experiments/src/components/TilesList/TilesList.types.ts
  packages/office-ui-fabric-react/src/components/MarqueeSelection/MarqueeSelection.base.tsx
Owners: @dzearing

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

#### Core build stuff
scripts/ @dzearing @kenotron @ecraig12345
package.json @kenotron @ecraig12345 @dzearing
webpack.config.js @kenotron @ecraig12345
webpack.serve.config.js @kenotron @ecraig12345
jest.config.js @kenotron @ecraig12345
tsconfig.json @kenotron @ecraig12345
rush.json @kenotron @ecraig12345
LICENSE @kenotron @ecraig12345
azure-pipelines.yml @ecraig12345 @kenotron
.appveyor.yml @kenotron @ecraig12345
.npmrc @kenotron @ecraig12345
.npmignore @kenotron @ecraig12345

#### Deprecated API Files
*.api.ts @natalieethell

#### Apps
# component-demo/
fabric-website/ @jordandrako @ecraig12345 @Jahnp
fabric-website-resources/ @ecraig12345
# ssr-tests/
# test-bundle-button/ @dzearing
# todo-app/
Controls/web.tsx @Vitalius1 @natalieethell

#### Packages
packages/charting/ @Raghurk
packages/codepen-loader/ @ecraig12345 @kenotron
packages/foundation/ @JasonGore
packages/example-app-base/ @ecraig12345 @jordandrako
packages/file-type-icons/  @KatherineThayerMicrosoft @jahnp @bigbadcapers
# packages/icons/
# packages/jest-serializer-merge-styles/
packages/lists/ @dzearing @KevinTCoughlin @aditima
# packages/merge-styles/
# packages/prettier-rules/
# packages/tslint-rules/
packages/styling/ @dzearing
packages/styling/src/interfaces/ @phkuo
packages/styling/src/styles/ @phkuo
# packages/utilities/
packages/utilities/positioning/ @joschect
packages/date-time @OfficeDev/uifabric-calendar @lorejoh @evlevy
packages/migration/ @ecraig12345 @kenotron

### Fabric
# common/
common/_semanticSlots.scss  @phkuo
common/_themeOverrides.scss @phkuo
common/_common.scss @phkuo

### Utilities
dateMath/     @OfficeDev/uifabric-calendar @lorejoh
dateValues/   @OfficeDev/uifabric-calendar @lorejoh

## Components
Accordion/ @JasonGore
ActivityItem/ @jdhuntington
Announced/ @natalieethell
Breadcrumb/ @jdhuntington
Button/ @khmakoto
Calendar/ @OfficeDev/uifabric-calendar @lorejoh
Callout/ @joschect
react-cards/Card/  @khmakoto
Check/ @KevinTCoughlin
Checkbox/ @cliffkoh
ChoiceGroup/ @srideshpande
Coachmark/ @leddie24
CollapsibleSection/ @JasonGore
ColorPicker/ @ecraig12345
ComboBox/ @joschect
CommandBar/ @micahgodbolt @joschect
ContextualMenu/ @joschect
DatePicker/ @OfficeDev/uifabric-calendar @lorejoh
DetailsList/ @KevinTCoughlin
Dialog/ @kkjeer
DocumentCard/ @yiminwu
Dropdown/ @joschect
Fabric/ @dzearing
FacePile/ @markionium
FolderCover/ @ThomasMichon
FocusTrapZone/ @JasonGore
FocusZone/ @JasonGore
GroupedList/  @aditima @KevinTCoughlin
HoverCard/   @atneik @Jahnp @Vitalius1
Icon/ @dzearing
Image/ @dzearing
Label/ @cliffkoh
Layer/  @ThomasMichon @JasonGore
Link/ @khmakoto
List/ @KevinTCoughlin
MarqueeSelection/ @dzearing
MessageBar/ @ecraig12345
Modal/ @JasonGore
office-ui-fabric-react/src/components/Nav/ @jdhuntington
OverflowSet/ @micahgodbolt
Overlay/ @kkjeer
Pagination/ @caradong
Panel/ @kkjeer
Persona/ @markionium
PersonaCoin/ @mtennoe
Persona/PersonaConsts.tsx @mtennoe
pickers/  @joschect
Pivot/ @jdhuntington
Popup/ @JasonGore
ProgressIndicator/ @aneeshack4
Rating/ @jdhuntington
ResizeGroup/ @micahgodbolt
SearchBox/ @ecraig12345
Separator/ @natalieethell
Shimmer/ @Vitalius1 @atneik
Signals/ @ThomasMichon
Slider/ @aneeshack4
SpinButton/ @aneeshack4
Spinner/ @aneeshack4
Stack/  @khmakoto @kkjeer
SwatchColorPicker/ @ecraig12345
TeachingBubble/ @micahgodbolt
Text/ @natalieethell
TextField/ @ecraig12345
Theme/ @JasonGore
Tile/ @ThomasMichon
TileList/ @ThomasMichon
office-ui-fabric-react/src/components/Toggle/  @phkuo
experiments/src/components/Toggle/  @khmakoto @JasonGore
Tooltip/ @micahgodbolt

## Docs
# ActivityItem/docs/
Announced/docs/ @natalieethell
# Breadcrumb/docs/
Button/docs/  @khmakoto
Calendar/docs/   @OfficeDev/uifabric-calendar @lorejoh
Callout/docs/  @joschect
react-cards/Card/docs/  @khmakoto
# Check/docs/
# Checkbox/docs/
ChoiceGroup/docs/   @srideshpande
# ColorPicker/docs/
# ComboBox/docs/
CommandBar/docs/   @micahgodbolt
ContextualMenu/docs/  @joschect
DatePicker/docs/   @OfficeDev/uifabric-calendar @lorejoh
DetailsList/docs/ @KevinTCoughlin
# Dialog/docs/
DocumentCard/docs/ @yiminwu
# Dropdown/docs/
# Fabric/docs/
# FacePile/docs/
# FocusTrapZone/docs/
# FocusZone/docs/
GroupedList/docs/  @aditima @KevinTCoughlin
HoverCard/docs/   @atneik @Jahnp @Vitalius1
# Icon/docs/
# Image/docs/
# Label/docs/
Layer/docs/  @ThomasMichon
Link/docs/  @khmakoto
List/docs/ @KevinTCoughlin
# MarqueeSelection/docs/
# MessageBar/docs/
# Modal/docs/
# Nav/docs/
OverflowSet/docs/  @micahgodbolt
# Overlay/docs/
# Panel/docs/
Persona/docs/ @markionium
pickers/docs/  @joschect
# Pivot/docs/
# Popup/docs/
# ProgressIndicator/docs/
# Rating/docs/
ResizeGroup/docs/  @micahgodbolt
# SearchBox/docs/
Separator/docs/ @natalieethell
Shimmer/docs/ @Vitalius1 @atneik
# Slider/docs/
# SpinButton/docs/
# Spinner/docs/
Stack/docs/  @khmakoto
# SwatchColorPicker/docs/
TeachingBubble/docs/   @micahgodbolt
Text/docs/ @natalieethell
# TextField/docs/
# Theme/docs/
office-ui-fabric-react/src/components/Toggle/docs/  @phkuo
Tooltip/docs/  @micahgodbolt
